body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -0.1em;
}

#wrapper {
    width: 820px;
    margin: 0 auto;
    padding: 0 0 30px 0;
}

#content {
    width: 800px;
    margin: 0 auto;
}

h1 {
    color: #FFF;
    background-color: #35322F;
    font-size: 3em;
    font-weight: normal;
    margin: 0 10px 10px 10px;
    padding: 1.2em 0.5em 0.3em 0.5em;
}

.line {
    border-top: 1px solid #35322F;
}

ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

li {
    float: left;
    width: 380px;
    margin: 0 10px;
}

a {
    display: block;
    color: #35322F;
    font-size: 3em;
    margin: 0;
    padding: 0.2em 0.5em 0.3em 0.5em;
    text-transform: lowercase;
    text-decoration: none;
}
a:hover {
    color: #FFF;
    background-color: #35322F;
    text-decoration: underline;
}

.clearfix {
    clear: both;
}
