html {
    height: 100%;
}

body {
    background-color: #FAFAFA;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    letter-spacing: -1px;
}

#wrapper {
    height: 100%;
    margin: 0 auto;
    width: 832px;
}

#content {
    background-color: #35322F;
    height: 100%;
    margin: 0 auto;
    min-height: 527px;
    width: 784px;
}

h1 {
    background-color: #35322F;
    color: #FAFAFA;
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    padding: 58px 24px 14px 24px;
}

.edge {
    background-color: #FAFAFA;
    margin: 0 -1px;
}

.line-top {
    border-bottom: 1px solid #35322F;
    margin: 0 1px;
    padding: 12px 0 0 0;
}
.line-bottom {
    border-top: 1px solid #35322F;
    margin: 0 1px;
    padding: 0 0 12px 0;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}

ul {
    background-color: #FAFAFA;
    list-style-type: none;
    margin: 0 -1px;
    padding: 12px 0;
}

li {
    float: left;
    width: 380px;
}
li:nth-child(odd) {
    margin: 0 12px 0 1px;
}
li:nth-child(even) {
    margin: 0 1px 0 12px;
}

a {
    color: #35322F;
    display: block;
    font-size: 48px;
    margin: 0;
    padding: 10px 24px 14px 24px;
    text-decoration: none;
    text-transform: lowercase;
}
a:hover {
    background-color: #35322F;
    color: #FAFAFA;
    text-decoration: underline;
}
